.play_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 99.04px;
    background-image: url("../assets/play_btn.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
    text-decoration: none;
    color: #FFFF;
    transition: all 0.1s ease-in-out;
    background-color: transparent;
    border: none;
    outline: none;
}

.play_btn h1 {
    font-weight: 900;
    font-size: 35px;
}

.play_btn:hover {
    transform: scale(1.05);
}