
.instances_cover {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9997;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

.instances_selector_div {
    width: 80%;
    height: 80%; /* Changed to fixed height */
    margin: auto;
    background-color: #324479;
    z-index: 9998;
    display: block;
    border-radius: 10px;
    border: 5px solid #43518A;
    position: relative; /* Ensure absolute positioning within */
    overflow: hidden; /* Ensure no overflow */
}

.instances_selector_div h1 {
    color: #FFFF;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 50px;
}

.instances_list {
    width: 98%;
    height: calc(100% - 100px); /* Adjust height to fit within the parent */
    margin: 30px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; 
    /* Disable horizontal scrolling */
}



.instance_card img {
    max-width: 100px;
}