.navBar {
    position: absolute;
    left: 50%;
    top: 47px;
    width: 1168px;
    height: 91px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 531px;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .phantomLauncher1 {
    position: absolute;
    left: 0;
    top: calc(50% - 7.77px);
    width: 50px;
    height: 50px;
    outline: solid 5px #43518a;
    border-radius: 10px;
    background-image:/* webpackIgnore: true */ url('/assets/phantomLauncher1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
  }
  .vector1 {
    position: absolute;
    left: 103px;
    top: calc(50% - 6.1961px);
    width: 150px;
    height: 40.6077px;
    overflow: visible;
    transform: translateY(-50%);
  }
  .icon8 {
    width: 100%;
    height: 100%;
  }
  .hOME {
    color: #fff;
    font-size: 24px;
    font-family: "Lalezar", system-ui;
    letter-spacing: 0.05em;
    position: absolute;
    left: 142.2265px;
    top: calc(50% - 4.6768px);
    width: 72.3757px;
    height: 41.4365px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
  }
  .vector2 {
    position: absolute;
    left: 275px;
    top: calc(50% - 5.23px);
    width: 169.8838px;
    height: 42.54px;
    overflow: visible;
    transform: translateY(-50%);
  }
  .icon9 {
    width: 100%;
    height: 100%;
  }
  .iNSTANCES {
    color: #fff;
    font-size: 24px;
    font-family: "Lalezar", system-ui;
    letter-spacing: 0.05em;
    position: absolute;
    left: 293.2314px;
    top: calc(50% - 4.6775px);
    width: 134.2496px;
    height: 41.4351px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
  }
  .vector3 {
    position: absolute;
    left: 461px;
    top: calc(50% - 5.0276px);
    width: 147.8265px;
    height: 40.9448px;
    overflow: visible;
    transform: translateY(-50%);
  }
  .icon10 {
    width: 100%;
    height: 100%;
  }
  .pROFILES {
    color: #fff;
    font-size: 24px;
    font-family: "Lalezar", system-ui;
    letter-spacing: 0.05em;
    position: absolute;
    left: 480.143px;
    top: calc(50% - 2.9006px);
    width: 111.1358px;
    height: 39.8813px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
  }
  .vector4 {
    position: absolute;
    right: 0.0539px;
    top: calc(50% - 1.527px);
    width: 39.9461px;
    height: 39.9461px;
    overflow: visible;
    transform: translateY(-50%);
  }
  .icon11 {
    width: 100%;
    height: 100%;
  }
  .x {
    color: #fff;
    font-size: 24px;
    font-family: "Lalezar", system-ui;
    letter-spacing: 0.05em;
    position: absolute;
    right: 11.9859px;
    top: calc(50% - -1.5858px);
    width: 14.5259px;
    height: 38.9085px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
  }
  .settingsBtn {
    position: absolute;
    left: 1076px;
    top: 24px;
    width: 42.54px;
    height: 42.54px;
    overflow: visible;
  }
  .icon12 {
    width: 100%;
    height: 100%;
  }