@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.root {
  height: 100%;
  font-family: "Lalezar", system-ui;
  background-color: #1e1e1e;
  flex-basis: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px ;
  overflow-x: hidden;
}

